#container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
    text-align: center;
}

#app-name {
    color: rgb(69, 69, 255);
}