<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ads Manager – Google Authentication</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <div id="container">
        <h1><span id="app-name">Ads Manager</span><br> wants to access your Google Account</h1>
        <h2>
            This will allow <span id="app-name">Ads Manager</span> to see, edit, create,
            and delete your Google Ads accounts and data.
        </h2>

        <a id="google-auth-btn" href="{{ auth_url }}">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo">
            Continue with Google
        </a>
    </div>

</body>
</html>
